<!DOCTYPE html>

<html>

	<head>

			<title>Inveniet v2.0</title>

				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

				<script src="Animaciones/slider.js"></script>

				<link rel="stylesheet" href="CSS/contenedores.css">
				<link rel="stylesheet" href="CSS/slider.css">
				<link rel="stylesheet" href="CSS/Navegacion.css">
				<link rel="stylesheet" href="CSS/social.css">
				<link rel="stylesheet" href="CSS/Formas.css">
				<link rel="stylesheet" href="CSS/Productos.css">
				<link rel="stylesheet" href="CSS/botonesociales.css">
				<link rel="stylesheet" href="CSS/Btnsociales.css">
				<link rel="stylesheet" href="CSS/VentanaModal.css">


				<!-- Boostrap -->

					<!-- CSS -->
						<link href="CSS/boostrap/bootstrap-theme.min.css" rel="stylesheet">
						<link href="CSS/boostrap/bootstrap.min.css" rel="stylesheet">



					<!-- Javascript-->
								<script src="CSS/bootstrap4.0/js/bootstrap.min.js"></script>
								<script src="Animaciones/slider.js"></script>
								<script src="Animaciones/animacion.js"></script>
								<script src="Animaciones/vue.min.js"></script>
				
				<!--Flat-UI-->
				<link rel="stylesheet" href="CSS/Flat-UI/dist/css/flat-ui.min.css">


			<!-- hover para las Imagenes -->
			 <link rel="stylesheet" href="CSS/imagenHover/imagehover.css">

			<!-- Owl-carrucel -->
			<link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.carousel.css">
			<link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.theme.default.min.css">

			<script src="jquery-3.2.0.min.js"></script>
			<script src="CSS/OwlCarousel/dist/owl.carousel.min.js"></script>


			<!-- Font Awesome -->
			<link rel="stylesheet" href="CSS/font-awesome/css/font-awesome.min.css" >	
	</head>

	
<body>
	<div  class="container" style="background: white;">

		<!-- Barra de navegación -->
				<nav class="row" align="left" style="background: white; border: solid 1px #E9E9E9;">
					
					<!-- Logo -->
				
						<div class="col-md-1" style="margin-left: -20px;"> </div>

						<div class="col-md-1" align="center">
							<img src="img/logo.png" class="img-responsive" style="width: 40px; height: 60px;" >	
						</div>

						<div class="col-md-1" align="center" style="text-align: right; ">
							<h5 style="text-align: center;" >Inveniet</h5>
						</div>
						
						<div class="col-md-1"></div>

					<!-- Barra de Búsqueda -->
						<div class="col-lg-5">
							<p>  </p>
								<div class="input-group input-group-sm input-group-rounded" style="border-radius: 10px;">
									<input type="text" class="form-control" style="text-align: center" placeholder="Ej. nombre del producto" id="barra1">

									<span class="input-group-btn ">
											<a type="submit" class="btn" href="BuscarProductos.html"><span class="fui-search"></span></a>
										</span>
								</div>

							</div>

					<!-- Botones de Logeo -->
						<div class="col-lg-3" align="center">
							<p> </p>

							<!-- Aplicación de ingreso de sesión -->

								<div id="Ingresar"  class="col-lg-5">

									<a id="show-modal1" @click="showModal1 = true" type="button" class="Btn-p" style="margin-right: 20px;">Ingresar</a>

									<ingresar v-if="showModal1" @close="showModal1 = false">
									    <h5 slot="header">
									    	
									    	<div class="col-md-3" align="right">
									    		<img src="img/logo.png" class="img-responsive" style="width: 20px; height: 30px;">
									    	</div>

									    	<div class="col-md-8" align="left">
									    		<h5 style="color: black;">Inveniet</h5>
									    		
									    	</div>
									    	
									    	</h5> 
									</ingresar>

									</div>
							
							<!-- Aplicación de selección de cuenta -->

								<div id="Registrar" class="col-lg-5">

									<a id="show-modal" @click="showModal = true" type="button" class="Btn-p" style="margin-right: 20px;">Registrarse</a>

									<modal v-if="showModal" @close="showModal = false">
									    <h5 slot="header">
									    	
									    	<div class="col-md-3" align="right">
									    		<img src="img/logo.png" class="img-responsive" style="width: 20px; height: 30px;">
									    	</div>

									    	<div class="col-md-8" align="left">
									    		<h5 style="color: black;">Inveniet</h5>
									    		
									    	</div>
									    	
									    	</h5> 
									</modal>

									
									</div>
							
						</div>

				<p>  </p>

				</nav>

		<!-- Eslogan de la pagina -->
			<div class="row" >
				
				<div style="background: #0C9D23; color: white; text-align: center; ">
					<span>Los productos que necesitas donde y cuando los necesita, todo al alcance de tus manos</span>
				</div>
				
			</div>

		<!-- Cuerpo de productos -->
			<div class="row" >

			<!-- Columna izquierda -->
				<div class="col-lg-7">
					
					<div class="separador-top-sm"></div>

					<div class="col-md-2"></div>
			
					<!-- Carrucel -->
					<div class="col-md-10" align="center" style="border: solid 1px #DCDCDC;">
						
						<div class="owl-carousel owl-theme owl-animated ">
						    
						    <div class="item">
						    	<img src="img/cereal.jpg" style="height: 300px; width: 300px; align-content: center;" align="center">
						    </div>
						    
						    <div class="item">
						    	<img src="img/cam.png" style="height: 300px; width: 400px; align-content: center;" >
						    </div>

						    <div class="item">
						    	<img src="img/9df5b7d522927fb8e159b68b084b83fc.jpg" style="height: 300px; width: 400px; align-content: center;" >
						    </div>
    						
    						</div>
						
						</div>

				</div>

			<!-- Columna derecha -->
				<div class="col-lg-5 ">

					<div class="separador-top-sm"></div>

					<div class="row">
						<p>  </p>
						<div class="col-md-1"></div>
						<div class="col-md-9" style="background: white; border: solid 1px #CCCCCC; border-radius: 10px; font-size: 15px;" align="center">

							<span>Mas populares</span>
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="separador-top-sm"></div>

					<div class="row" style="margin-top: 8px;" align="center">
						
						<div class="col-md-1"></div>
						
						<div class="col-md-4" style="margin-right: 8px;" align="center">
						
							<li class="Product" style="width: 190px; height: 240px;" align="center">
								<figure class="imghvr-push-up" >
									<img src="img/cereal.jpg" style="width: 190px; height: 230px;">
									  	<figcaption>
									        Esto es cereal
									    </figcaption>
									   	<a href="#"></a>
								</figure>
							</li>
							</div>

						<div class="col-md-5" style="margin-right: 5px;" align="center">

							<li class="Product" style="width: 160px; height: 120px;" align="center">
								<figure class="imghvr-push-up" >
									<img src="img/cereal.jpg" style="width: 150px; height: 110px;">
									  	<figcaption>
									        Esto es cereal
									    </figcaption>
									   	<a href="#"></a>
								</figure>
							</li>

							<li class="Product" style="width: 160px; height: 120px;" align="center">
								<figure class="imghvr-push-up" >
									<img src="img/cereal.jpg" style="width: 150px; height: 110px;">
									  	<figcaption>
									        Esto es cereal
									    </figcaption>
									   	<a href="#"></a>
								</figure>
							</li>							
							</div>
					
						</div>
					
				  </div>
					
				</div>

		<!-- Lista de productos -->
			<div class="row" style="margin-left: 100px; margin-bottom: 30px; margin-top: 30px">
				<div class="owl-carousel owl-theme ">
				<ul>
					<li class="Product item" style="width: 108px; height: 105px; margin-right: 30px; margin-left: 15px; " align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>

					<li class="Product item" style="width: 108px; height: 105px; margin-right: 30px;" align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>


					<li class="Product item" style="width: 108px; height: 105px; margin-right: 30px;" align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>


					<li class="Product item" style="width: 108px; height: 105px; margin-right: 20px;" align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>


					<li class="Product item" style="width: 108px; height: 105px; margin-right: 30px;" align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>

					<li class="Product item" style="width: 108px; height: 105px; margin-right: 30px;" align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>

					<li class="Product item" style="width: 108px; height: 105px; margin-right: 30px;" align="center">

						<figure class="imghvr-push-up" >
							<img src="img/cereal.jpg" style="width: 100px; height: 100px;">
							  	<figcaption>
							        Esto es cereal
							    </figcaption>
							   	<a href="#"></a>
						</figure>
					</li>

				</ul>
				</div>
			</div>

		<!-- Lista de Botones sociales -->
			<div class="row">
				<div class="col-lg-3"></div>

				<div class="col-md-6" align="center" style="margin-top: 2px; margin-bottom: 30px; margin-left: 45px;">
					
					<div class="separador-top-sm"></div>

					<div class="col-md-3">
						<div class="social-button facebook fa"  style="border: solid 1px #3B5998;">
							<div class="fa" style="margin-top: 10px;">f</div> 
						</div>
					</div>

					<div class="col-md-3">
						<div class="social-button twitter fa" style="border: solid 1px #3CF;">
							<div class="fa" style="margin-top: 10px;">t</div> 
						</div>
					</div>

					<div class="col-md-3">
						<div class="social-button google fa" style="border: solid 1px #DC4A38;">
							<div class="fa" style="margin-top: 8px;">g</div> 
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="social-button dribbble fa" style="border: solid 1px #9E6102;">
							<div class="fa" style="margin-top: 10px;">I</div> 
						</div>
					</div>

				</div>
		
							<div class="separador-top-sm"></div>

				<div class="col-lg-3"></div>
			</div>

		<!-- Lista de derechos de autor -->
			<div class="row"  align="center">
				

				<div style="background: #08292F; color: white; text-align: center; ">
					<span>Todos los derechos reservados</span>
				</div>
				
			
			</div>
	
	</div>

</body>


<!-- Animaciones para el Carrucel de productos -->

	<script type="text/javascript">
		var owl = $('.owl-carousel');
		owl.owlCarousel({
		    items:1,
		    loop:true,
		    margin:1,
		    autoplay:true,
		    autoplayTimeout:3000,
		    autoplayHoverPause:true
		});
		$('.play').on('auto',function(){
		    owl.trigger('play.owl.autoplay',[3000])
		})

	</script>



<!-- Ventana Ingresar -->
	<!-- Ventana Modal (ingresar) codigo fuente  -->

		<script type="text/x-template" id="Ingresar-Ventana">

		  <transition name="modal">
		    <div class="modal-mask">
		      <div class="modal-wrapper">
		        <div class="modal-container">

		          <div class="modal-header">
		            <slot name="header">
		              	Inveniet
		            </slot>
		          </div>

		          <div class="modal-body">
		            <slot name="body">
		            	<input type="text" placeholder="Correo electrónico" class="input-lg form-control" style="margin-bottom: 15px;" />
		            	<input type="password" placeholder="Contraseña" class="input-lg form-control" />
		            </slot>
		          </div>

		          <div class="modal-footer">
		            <slot name="footer">

		            	<div class="row" align="center">

		            		<div class="col-md-4" align="left">
		            			<button class="Btn-p" @click="$emit('close')" href="principal.html">Salir</button>
		            		</div>


		            		<div class="col-md-8" align="right">
		            			<a type="button" class="Btn-p" href="PaginaPrincipal.html">Iniciar Secsión</a>
		            		</div>
		            		
		            		
		            	</div>

		            </slot>
		          </div>



		        </div>
		      </div>
		    </div>
		  </transition>

		</script>

	<!-- Aplicación con Vuejs para la ventana (ingresar) -->

		<script type="text/javascript">

		Vue.component('ingresar', {
		  template: '#Ingresar-Ventana'
		})

		new Vue({
		  el:'#Ingresar',
		  data: {
		    showModal1: false
		  }
		})

		</script>


<!-- Ventana Registrar -->
	<!-- Ventana Modal (Registrar) codigo fuente  -->

		<script type="text/x-template" id="Registrar-Ventana">

		  <transition name="modal">
		    <div class="modal-mask">
		      <div class="modal-wrapper">
		        <div class="modal-container">

		          <div class="modal-header">
		            <slot name="header">
		              	Inveniet
		            </slot>
		          </div>

		          <div class="modal-body">
		            <slot name="body">

		            	<div class="row" id="tipo-cuenta">

		            		<a href="RegistrarLocal.html" id="tienda" class="col-md-5 Btn-p2 " onclick="Tcuenta(tienda)" style="margin-right: 20px; margin-left: 10px; background: white; text-align: center;">
		            			<img src="img/tienda-icono.png" class="img-responsive" alt="">
		            			Tienda
		            		</a>

		            		<a href="RegistrarUsuario.html" id="usuario" class="col-md-5 Btn-p2 " style="background: white; text-align: center;">
		            			<img src="img/user-icono.png" class="img-responsive" onmouseover="alert('entraste en el area del contenedor') alt="">
		            			Usuario
		            		</a>		            		
		            		
		            	</div>
		            	
		            </slot>
		          </div>

		          <div class="modal-footer">
		            <slot name="footer">

		            	<div class="row" align="center">
		            		<button class="Btn-p" @click="$emit('close')" href="principal.html">regresar</button>
		            	</div>

		            </slot>
		          </div>



		        </div>
		      </div>
		    </div>
		  </transition>

		</script>

	<!-- Aplicación con Vuejs para la ventana (ingresar) -->
		<script type="text/javascript">

		Vue.component('modal', {
		  template: '#Registrar-Ventana'
		})

		new Vue({
		  el:'#Registrar',
		  data: {
		    showModal: false
		  }
		})

		</script>

</html>